body{
    text-align: center;
    color: white;
}

*{
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(66, 221, 66), rgb(167, 211, 46));
    height: 100vh;

    h1{
        font-size: 70px;
        margin-bottom: 20px;
    }

    h3{
        margin-bottom: 20px;
    }

    .score{
        display: flex;
        justify-content: space-evenly;
        border: 1px solid white;
        padding-top: 20px;
        width: 80%;
        margin: 0 auto;
        font-size: 35px;
        border-radius: 50px 50px 50px 50px;


    }

    .www{
        margin-top: 20px;
        font-size:35px;
    }

    .restart{
        cursor: pointer;
        padding: 5px;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 10px;
        color: green;
        background-image: linear-gradient(rgb(199, 233, 199)rgb(212, 231, 212));


        &:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 15px rgb(255, 255, 255);
        }
    }

    .disabled{
        cursor: pointer;
        padding: 5px;
        margin-bottom: 20px;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-image: linear-gradient(rgb(50, 190, 50), green);
        color: white;

        &:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 15px rgb(255, 255, 255);
            background: rgb(117, 228, 228); 
            color: black;

        }
    }

    .play-buttons{
        display: flex;
        justify-content:center;
        gap: 20px;
    }

    span{
        animation: blink 3s infinite alternate-reverse;
    }

    @keyframes blink {
        0%{color: green;}
        10%{color: rgb(122, 59, 59);}
        20%{color: rgb(0, 30, 128);}
        30%{color: rgb(255, 196, 0);}
        40%{color: rgb(77, 0, 128);}
        50%{color: rgb(162, 0, 255);}
        60%{color: rgb(0, 30, 128);}
        100%{color: rgb(115, 255, 0);}
    }

    .time{
        color: rgb(255, 255, 255);
        font-size: 25px;
    }
        
}